* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, textarea, select, option {
    font: inherit;
}

body {
    padding: 2em;
}


p {
    margin-bottom: 2em;
}

.form {
    margin-bottom: 2em;
}
.code {
    border: 1px solid grey;
    border-radius: 0.3em;
    background-color: #eee;
    margin-bottom: 2em;
    padding: 1.5em 2em 2em 1em;
    padding-bottom: 0;
    overflow: auto;
}

input {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #CCC;
    border-radius: 0.3em;
    outline: none;
}

input:focus {
    border-color: #090;
}

