div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-around;
    min-height: 96dvh;
}

header, main, footer {
    border: 2px solid blue;
    margin: 1em;
  
}

header, footer {
    padding: 1.5em;
}

main {
    padding: 2em;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}