body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 77ch;
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

ul {
    margin: 0 0 0 2em;
}
