@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
    gap: 1em;
    margin-bottom: 0.5em;
  }

  .header-title {
    padding: initial;
  }

  .our-dogs-wrapper ul {
    justify-content: center;
    align-items: center;
    gap: 1em 4em;
  }
  .our-dogs-wrapper ul li {
    flex: 0 0 calc(50% - 4em);
    
  }

  .our-dogs-wrapper ul li img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    
  }
  .helpNeed ul {
    flex-direction: column;
    gap: 2em;
  }
}
